.deneme{
  height: 95px;
}

.mymargin{
  padding-bottom: 10px;
  padding-top: 10px;
}
.satir1{
  height: 70px;
}
.satir2{
  height: 25px;
}
.orta{
  display: grid;
  place-items: center;
}
.topbarpay{
  margin-top: 25px;
}

.yazi2{
  font-family: 'Roboto Mono', monospace;
  font-size: 20px;
}
