<div class="container">
  <div class="row deneme">
    <div class="fixed-top">
    <div class="satir2 justify-content-center orta container" style="background: #242A32">
      <div class="text-center" style="color: white">
        Burası topbarın topu
      </div>
    </div>
    </div>
    <div class="satir1 justify-content-center orta topbarpay" style="background: #242A32">
      <div class="text-center" style="color: white">
        Burası topbarın barı
      </div>
    </div>
  </div>
</div>
