.deneme{
  height: 75px;
  margin-top: 25px;
}

.mymargin{
  padding-bottom: 10px;
  padding-top: 10px;
}
.satir1{
  height: 10px;
}
.satir2{
  height: 25px;
  margin-bottom: 20px;
}
.orta{
  display: grid;
  place-items: center;
}
.topbarpay{
  margin-top: 25px;
}

.yazi2{
  font-family: 'Roboto Mono', monospace;
  font-size: 20px;
}
.elm{
  color: white;
  justify-content: space-between;
}
.main{
  font-size: 20px;
  font-family: 'Roboto Mono', monospace;
  color: white;
  place-items: center;
  justify-content: center;
}
.ttl{
  font-size: 24px;
  font-family: 'Roboto Mono', monospace;
  color: white;
  place-items: center;
  justify-content: center;
}
.customlink{
  display: inline-block;
  place-items: center;
  justify-content: center;
}

.ic{
  width: 20px;
  height: 30px;
}
@media (max-width: 677px) {
  .main{
    font-size: 14px;
    font-family: 'Roboto Mono', monospace;
    color: white;
    place-items: center;
    justify-content: center;
  }
  .ttl{
    font-size: 18px;
    font-family: 'Roboto Mono', monospace;
    color: white;
    place-items: center;
    justify-content: center;
  }
}
