<div class="container">
  <div class="container-fluid deneme">
    <div class="fixed-top">
      <div class="satir2 container" style="background: #242A32">
        sa
      </div>
    </div>
    <div class="satir1 justify-content-between topbarpay d-flex" style="background: #242A32">
      <div class="elm">
        <i class="fa-solid fa-angle-left fa-2xl"></i>
      </div>
      <div class="elm">
        home
      </div>
      <div class="elm">
        <i class="fa-solid fa-circle-info fa-2xl"></i>
      </div>
    </div>
  </div>
</div>

