<div class="container">
  <nav class="navbar navbar-expand fixed-bottom navbarmy container myheight">
    <div class="container-md justify-content-between container-fluid divmar">
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav justify-content-between container-fluid">

          <li class="nav-item">
            <div class="mymargin myrlpadding">

            <a  class="nav-link active" aria-current="page" routerLink="/home" style="color: #67686D">
              <div>
                <i class="fa-solid fa-house fa-sm" style="margin-left: 8px"></i>
                <p style="color: #67686D;font-size: 12px; margin-bottom: 24px">
                  Home
                </p>
              </div>
            </a>
            </div>
          </li>

          <li class="nav-item">
            <div class="mymargin myrlpadding">

            <a class="nav-link" href="#" routerLink="/dashboard" style="color: #67686D">
              <div class="justify-content-center">
                <i class="fa-solid fa-magnifying-glass fa-sm" style="margin-left: 8px"></i>
                <p class="text" style="color: #67686D;font-size: 12px;margin-bottom: 24px">
                  Search
                </p>
              </div>
            </a>

            </div>
          </li>

          <li class="nav-item " >
            <div class="mymargin myrlpadding align-content-center">

            <a class="nav-link" href="#" style="color: #67686D">
              <div class="">
                <i class="fa-solid fa-bookmark fa-sm" style="margin-left: 19px"></i>
                <p style="color: #67686D;font-size: 12px;margin-bottom: 24px">
                  Watch List
                </p>
              </div>
            </a>
            </div>
          </li>

        </ul>
      </div>
    </div>
  </nav>
</div>
<script src="https://kit.fontawesome.com/54878a8355.js" crossorigin="anonymous"></script>
