.navbarmy{
  background: #242A32;
  border-style: solid;
  border-width: 2px;
  border-bottom: deepskyblue;
  border-left: deepskyblue;
  border-right: deepskyblue;
  border-color: deepskyblue;
  justify-content: space-between;
  justify-items: flex-start;
}

.myheight{
  height: 48px;
}

.mymargin{
  margin-top: 0px;
}
.myrlpadding{
  padding-left: 25px;
  padding-right: 21px;
}

.center-icon {

  justify-content: center;
  align-items: center;
}

.divmar{
  margin-top: 25px;
}



.orta{
  place-items: center;
}

.yazi{
  padding-bottom: 50px;
}
.div1{
  margin-top: 20px;
}
