
<div class="slider">
  <div id="carouselExample" class="carousel slide">
    <div class="carousel-inner">

      <div *ngFor="let post of posts2; let i = index" class="carousel-item c-item" [ngClass]="{'active': i === currentSlideIndex}">
        <a routerLink="/detail/{{post.id}}">
          <img [src]="'https://image.tmdb.org/t/p/w500' + post.poster_path" class="d-block w-100 c-img" alt="...">
        </a>
        <span class="span">
    {{ i + 1 }}
  </span>
      </div>


    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
