.orta{
  display: flex;
  place-items: center;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.orta2{
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.searchbar{
  width: 100%;
  max-width:600px;
  background: rgba(255,255,255,0.2);
  display: flex;
  align-items: center;
  border-radius: 16px;
  padding: 10px 20px;
  margin-bottom: 15px;
  height: 42px;
    input{
      background: transparent;
      flex: 1;
      border: 0;
      outline: none;
      padding: 5px 5px;
      font-size: 16px;
      color: white;
    }
  ::placeholder{
    color: white;
    margin-left: 50px;
  }
  button{
    i{
      width: 25px;
    }
    border: 0px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background: transparent;
    cursor: pointer;
  }
}

.boslk{
  width: 800px;
  margin-left: 170px;
  height: auto;
  justify-content: center;
  display: flex;
  place-items: center;
}

.liste{
width: 600px;
  height: auto;
  margin-bottom: 30px;
}

.eleman{
  float: left;
  display: flex;
}
.imgs{
  width: 175px;
  height: 220px;
  object-fit: cover;
  border-radius: 16px;
  border: deepskyblue solid 2px;
}
.ttle{
  color: white;
  width: 250px;
  font-size: 19px;
  font-family: 'Poppins', sans-serif;
  padding-top: 15px;
  flex-direction: column;
  float: left;
  padding-bottom: 112px;

}

.mmain{
  flex-direction: column;
  height: 220px;
  justify-content: end;
}
.temp{
  width: 200px;
  margin-bottom: 10px;
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  color: white;
}
.temp1{
  width: 200px;
  font-family: 'Poppins', sans-serif;
  color: white;
  font-size: 12px;
  margin-bottom: 20px;
}
.tmmain{
  display: flex;
  flex-direction: column;

}
.empty{
  width: 400px;
  height: 300px;
  display: flex;
  margin-top: 50px;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.byt{
  width: 200px;
  height: 200px;
}
.bytfnt{
  width: 400px;
  height: auto;
  color: white;
  font-size: 28px;
  font-family: 'Montserrat', sans-serif;
}
.spec{
  width: 300px;
  display: flex;
}

@media(max-width: 677px){
  .liste{
    width: 350px;
    height: 180px;
    margin-bottom: 30px;
  }
  .imgs{
    width: 130px;
    height: 185px;
    object-fit: cover;
    border-radius: 16px;
    border: deepskyblue solid 2px;
  }
  .ttle{
    color: white;
    margin-bottom: 30px;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    padding-top: 5px;
    padding-left: 10px;
    width: 220px;
  }
  .temp{
    margin-bottom: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    color: white;
  }
  .tmmain{
    margin-top: 80px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 3;
  }
  .mmain{
    flex-direction: column;
    height: 180px;
    width: 200px;
    justify-content: end;
  }
  .empty{
    width: 300px;
    height: 200px;
    display: flex;
    margin-top: 50px;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    place-items: center   ;
  }
  .boslk{
    width: 300px;
    height: auto;
    justify-content: center;
    display: flex;
    margin-left: 50px;
  }

  .byt{
    width: 150px;
    height: 150px;
  }
  .bytfnt{
    width: 200px;
    height: auto;
    color: white;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
  }
}
