<div class="container">
  <div class="row justify-content-center">
    <div class="justify-content-center text-center">
      <div class="orta" style="color: red">
        <form class="searchbar orta">
          <input type="text" placeholder="Search" name="q">
          <button type="submit"><i class="fa-solid fa-magnifying-glass fa-xs"></i>
          </button>
        </form>
      </div>
    </div>
    <div class="justify-content-center d-flex">
      <slider ></slider>
    </div>
    <section>
    <div class="container">
      <!-- row -->
      <div class="row">
        <!-- section title -->
        <div class="container">
              <nav class="navbar-expand navbar container">
                <div class="container-md justify-content-between container-fluid">
                  <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav justify-content-center container-fluid" >
                      <li class="nav-item">
                          <div class="d-flex">
                            <a data-value="now_playing" class="fonta nav-link active yazi1" aria-current="page" href="javascript:void(0);" (click)="changeGetUpData($event)" style="color: white">
                              NowPlaying
                            </a>
                          </div>
                      </li>
                      <li class="nav-item">
                        <div class="d-flex">
                          <a data-value="upcoming" class="fonta nav-link active yazi1" aria-current="page" href="javascript:void(0);" (click)="changeGetUpData($event)" style="color: white">
                            Upcoming
                          </a>
                        </div>
                      </li>
                      <li class="nav-item">
                        <div class="d-flex">
                          <a data-value="top_rated" class="fonta nav-link active yazi1" aria-current="page" href="javascript:void(0);" (click)="changeGetUpData($event)" style="color: white">
                            TopRated
                          </a>
                        </div>
                      </li>
                      <li class="nav-item">
                        <div class="d-flex">
                          <a data-value="popular" href="javascript:void(0);" (click)="changeGetUpData($event)" class="nav-link active yazi1 fonta" aria-current="page" style="color: white">
                            Popular
                          </a>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </nav>
        </div>
        <!-- /section title -->
        <div class="container mt-5">
          <div class="product-container product1" style="padding-bottom: 60px">
            <div *ngFor="let post of posts" class="product-card prod">
              <a routerLink="/detail/{{post.id}}" (click)="holdId(post.id)">
               <img class="imgs" [src]="'https://image.tmdb.org/t/p/w500' + post.poster_path">
              </a>
            </div>
            <!-- Diğer ürün kartları buraya eklenir -->
          </div>
        </div>
      </div>
      <!-- /row -->
    </div>
    </section>
</div>

</div>
